# Created by Vercel CLI
NEXT_PUBLIC_SITE_URL="https://agostiniandrea.vercel.app"
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=""
NEXT_PUBLIC_CONTENTFUL_PREVIEW_ACCESS_TOKEN=""
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=""
NEXT_PUBLIC_INSTAGRAM_ACCOUNT_ID=""
NEXT_PUBLIC_INSTAGRAM_APP_SECRET=""
NEXT_PUBLIC_INSTAGRAM_PROFILE_ID=""
NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI=""
NX_DAEMON=""
TURBO_DOWNLOAD_LOCAL_ENABLED=""
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
VERCEL=""
VERCEL_ENV=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
